<div class="static">
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 profiles">
    <h2>The Team</h2>
    <div class="col-md-3">
      <img class="img-circle" src="images/team/adam.jpg" alt="Adam" width="140" height="140">
      <h4>Adam Lloyd</h4>
      <span class="text-muted small">Web Developer</span>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-3">
      <img class="img-circle" src="images/team/david.jpg" alt="David" width="140" height="140">
      <h4>David Good</h4>
      <span class="text-muted small">Web Developer</span>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-3">
      <img class="img-circle" src="images/team/jane.jpg" alt="Jane" width="140" height="140">
      <h4>Jane Lee</h4>
      <span class="text-muted small">Web Developer</span>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-3">
      <img class="img-circle" src="images/team/louise.jpg" alt="Louise" width="140" height="140">
      <h4>Louise Jennings</h4>
      <span class="text-muted small">Web Developer</span>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-2"></div>
  </div><!-- /.row -->
  </div>
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2 class="featurette-heading">Mission Statement. <span class="text-muted small">Group Project.</span></h2>
      <p>PlayFindr is a web service that provides customers with a friendly helpful website to find playgrounds in Ireland. As part of our 3rd year Group Project module we aimed to develop a website that meets the criteria listed in the brief. Our playground finder service
        allows the user to search for playgrounds in a specific county, get directions to a playground from where they are currently located, view, add or edit playgrounds to the web service, view a 5-day weather forecast for the location and add reviews of playgrounds visited.</p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
