<div class="static">

    <!-- Four columns of text below the carousel -->
    <div class="row">
      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">CONTACT US</h2>
          <p class="lead">Please let us know if you have questions or need help using PlayFindr!
            For general questions and technical assistance please contact us using any of the options below</p>
        </div>
      </div>


      <div class="col-lg-4">
        <img class="img-circle" src="images/contact_icons/phone.png" alt="Phone" width="140" height="140">
        <h2>Telephone</h2>
        <p>Call us on 0211234567</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="images/contact_icons/email.png" alt="Email" width="140" height="140">
        <h2>Email Us</h2>
        <p>admin@PlayFindr.com</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="images/contact_icons/facebook.png" alt="Facebook" width="140" height="140">
        <h2>Follow Us</h2>
        <p>facebook.com/playfindr</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

</div>
