<div class="static">
    <div class="row">
      <div class="row featurette">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h2>Contact Us</h2>
          <p class="lead">Please let us know if you have questions or need help using PlayFindr!
            For general questions and technical assistance please contact us using any of the options below</p>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3 profiles">
        <img class="img-circle" src="images/phone.png" alt="Phone" width="140" height="140">
        <h2>Telephone</h2>
        <p>Call us on <tel>0211234567</tel></p>
      </div>
      <div class="col-md-2 profiles">
        <img class="img-circle" src="images/email.png" alt="Email" width="140" height="140">
        <h2>Email Us</h2>
        <p><a href="mailto:admin@playfindr.com">admin@PlayFindr.com</a></p>
      </div>
      <div class="col-md-3 profiles">
        <img class="img-circle" src="images/facebook.png" alt="Facebook" width="140" height="140">
        <h2>Follow Us</h2>
        <p><a href="http://www.facebook.com/playfindr">facebook.com/playfindr</a></p>
      </div>
      <div class="col-md-2"></div>
    </div><!-- /.row -->


</div>
