<div ng-if="!playground" class="loading">
  <img src="images/loading.gif" alt="loading" />
</div>
<div ng-show="playground">
<form class="login-form" ng-submit="" name="editForm" >

  <input type="text" id="editName" name="editName" placeholder="Name" class="form-control" required ng-model="playground.title">

  <input type="text" id="editCounty" name="editCounty" placeholder="county" class="form-control" required ng-model="playground.county">

  <input class="btn btn-lg btn-primary btn-block" type="submit" value="Save Changes">

</form>
  </div>




